.sidebar {
    width: 200px;
    background-color: #35c6f4;
    color: #fff;
    padding: 20px;
    height: 100%;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 20px;
  }

  .sidebar:hover {
    width: 350px;
  }
  
  .sidebar h2 {
    margin-bottom: 20px;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar li {
    margin: 10px 0;
    cursor: pointer;
  }
  
  .sidebar li:hover {
    color: #fcd019;
    font-size: 180%;
    
  }
  

  /* Conteneur pour le logo */
.logo-container {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Style de l'image du logo */
.logo {
  width: 100px; 
  height:  100px; 
  background-color: #fff;
  border-radius: 50%; 
  box-shadow: 0 4px 6px rgba(112, 84, 84, 0.1); 
}