@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*Section Hero_section: style background-image*/
.back {
  width: 100%;
  height: 710px;
  background-image: url('../public/img/scene-construction.jpg') ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
/*Page Home Section Gallery: style splide__row  */
.splide__arrows .splide__arrow {
  background-color: #fcd019;
}
.splide__arrows .splide__arrow--prev {
  transform: rotate(180deg);
}
.splide__arrows .splide__arrow--next {
  transform: rotate(0deg);
}
.splide__arrows .splide__arrow .react_row {
  color: aliceblue;
}

/*Page A propos section Header  */
.backHeader {
  width: 100%;
  height: 710px;
  background-image: url('/public/img/IMG-20241130-WA0157.jpg') ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.background-contact-1{
  background-image: url('../public/img/img-contraste-1.jpg');
  background-size: cover;
  /* filter: brightness(30%); */
}
.background-contact-2{
  background-image: url('../public/img/img-contraste-2.jpg');
  background-size: cover;
  /* filter: brightness(30%); */
}
.background-contact-3{
  background-image: url('../public/img/img-contraste-3.jpg');
  background-size: cover;
  /* filter: brightness(30%); */

}