body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.background-contact-1{
  background-image: url('../public/img/img-contraste-1.jpg');
  background-size: cover;
  /* filter: brightness(30%); */
}
.background-contact-2{
  background-image: url('../public/img/img-contraste-2.jpg');
  background-size: cover;
  /* filter: brightness(30%); */
}
.background-contact-3{
  background-image: url('../public/img/img-contraste-3.jpg');
  background-size: cover;
  /* filter: brightness(30%); */
}